@import url("https://fonts.googleapis.com/css?family=Handlee|Open+Sans|Tangerine:400,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
}
.header {
  font-family: 'Tangerine', cursive;
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa;
  background: url("https://s24.postimg.org/6xa77gfdx/background3.png");
  background-position: center;
}
.header .page-title {
  font-weight: 200;
  font-size: 100px;
  text-align: center;
  padding: 100px;
  color: #fff;
}
.nav {
  background: #000;
  text-align: center;
  font-size: 21px;
  font-family: 'Handlee', cursive;
}
.nav li {
  display: inline-block;
}
.nav a {
  display: inline-block;
  padding: 20px;
  color: #fff;
  text-decoration: none;
}
.nav a:hover {
  background-color: #606;
  text-decoration: underline;
}
.main-content {
  margin: 50px auto;
  max-width: 600px;
}
.main-content p {
  line-height: 1.6;
  margin-bottom: 1.7em;
}
.footer {
  margin: 50px auto;
  max-width: 600px;
  border-top: 1px solid #444;
  padding: 20px 0;
}
.footer p {
  color: #444;
  font-size: 12px;
}
