extend default

block content
  p.
    Fairfield Inn---- 5808 N. Woodway Dr., Woodway, TX.  (254)776-7821
	
  p.
    SpringHill Suites Marriott--- Hwy 84 & Woodway Dr., Woodway, TX. (254)732-7979
	
  p.
    La Quinta Inn--- 6003 Woodway Dr., Woodway TX.       (254)772-0200
