extend default

block content
  h1.
    Fairfield Inn
  p.
    5808 N. Woodway Dr., Woodway, TX.   (254)776-7821
	
  h1.
    SpringHill Suites Marriott
  p.
    Hwy 84 & Woodway Dr., Woodway, TX.   (254)732-7979
	
  h1.
    La Quinta Inn
  p.
    6003 Woodway Dr., Woodway TX.   (254)772-0200