doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title The Robichaud Wedding
  body
    .header
      h1.page-title The Robichaud Wedding

    ul.nav
      li: a(href='/') Home
      li: a(href='/story') Our Story
      li: a(href='/wedding') The Wedding
      li: a(href='/accommodations') Local Accommodations
      li: a(href='/registry') Registry
	  li: a(href='http://therobichaudwedding.app.rsvpify.com/') RSVP
    
    .main-content
      block content

    .footer
      p Banner image by Shutterfly. Last updated 1/4/2017.
