extend default

block content
  h1.
    Eric & Lydia's Wedding

  p.
    Please join us in the celebration of our wedding on the 8th of July, 2017
    <br>
    *Please RSVP by June 1, 2017

  .image-block
    img(src='https://s27.postimg.org/ao23gcnir/IMG_0463.jpg' alt='EricAndLydia')