extend default

block content
  .image-block
    a(href='https://www.zola.com/registry/lydiaanderic?preview=true', target='_blank')
      img(src='https://www.giltcity.com/images/share/uploads/0000/0005/0761/507615258/orig.jpg' alt='ZolaLogo')