extend default

block content
  h1.
    Eric Robichaud
  
  p.
    Eric has been a Cardiothoracic ICU nurse at Baylor Scott & White in Temple, TX for the past four years. He holds a bachelor's of science in nursing and plans to further his education in the medical field. He enjoys Crossfit, outdoor activities, road trips, and good food.

  h1.
    Lydia West
  
  p.
    Lydia has been a private piano instructor for the past four year at both Temple Junior College and the University of Mary Hardin-Baylor in their respective conservatory programs. She holds a bachelor's of music in piano performance and hopes to further her education when she figures out what she wants to do when she grows up! She enjoys spending time with her family and friends, shopping, road trips, and making music.

  h1.
    Eric & Lydia
	
  p.
    They met at a lake party in May of 2013 when family and friends were scheming matchmaking plans. They started dating a few months after they met and 3 and a half years later Eric popped the question! 
	
  .image-block
    img(src='https://s28.postimg.org/b2jopeifh/IMG_0462.jpg' alt='EricAndLydia')