extend default

block content

  h1.
    The Date
  
  p.
    The wedding will take place on July 8th of 2017.

  h1.
    The Attire

  p.
    Cocktail (Suit and tie, cocktail and party dresses)

  h1.
    The Wedding

  p.
    The ceremony and reception will take place at the 
    <a href='http://www.woodway-texas.com/carleen-bright-arboretum/', target='_blank'>Carleen Bright Arboretum</a>
    in Woodway, TX. Ceremony will be in the White Hall facility and the reception will be at the adjoining Pavillion. The ceremony will begin at 6:00 p.m. Reception to follow.

  iframe(width='600', height='450', src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13606.112033675905!2d-97.230204!3d31.509655!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864f86797c71dd99%3A0xec61fed9b4df742e!2sCarleen+Bright+Arboretum!5e0!3m2!1sen!2sus!4v1483682477814', frameborder='0', style="border:0", allowfullscreen='allowfullscreen')

  <br>
  <br>

  h1.
    Contact Us

  p.
    For any questions, please contact the mother of the bride, Mrs. West
    <br>
    Email: ccalgae@juno.com
    <br>
    Phone: (254)702-3562