extend default

block content
  p.
    The wedding will take place on July 8th of 2017.

  p.
    Attire: Cocktail (Suit and tie, cocktail and party dresses)

  p.
    The ceremony and reception will take place at the Carleen Bright Arboretum in Woodway, TX. Ceremony will be in the White Hall facility and the reception will be at the adjoining Pavillion. The ceremony will begin at 6:00 p.m. Reception to follow.